.inbox {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

}

.account {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 15px;
  background-color: green;
  width: 350px;
  border-radius: 25px;
  padding: 15px 0;

}

.unread {
  color: red;
  position: relative;
  left: 80px;
}

.no-unread {
  color: #999;
  position: relative;
  left: 80px;
}